/* 
TODO: 
[] - Get google fonts for Satisfy and open Sans
*/
*ket*

*Primary Heading Font: 'Satisfy', open-sans
*MAIN COLOR: #EEDDCD 
/* NAVBAR SECTION */
.logo {
    width: 91px;
}

header h1 {
    color: #c9c983;
    font-family: 'Satisfy', open-sans;
    margin-top: 20px;
}